@model MvcApplication1.Models.tblEmployee

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tblEmployee</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Gender)
            @Html.ValidationMessageFor(model => model.Gender)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfBirth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateOfBirth)
            @Html.ValidationMessageFor(model => model.DateOfBirth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmployeeType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmployeeType)
            @Html.ValidationMessageFor(model => model.EmployeeType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AnnualSalary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AnnualSalary)
            @Html.ValidationMessageFor(model => model.AnnualSalary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HourlyPay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HourlyPay)
            @Html.ValidationMessageFor(model => model.HourlyPay)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HoursWorked)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoursWorked)
            @Html.ValidationMessageFor(model => model.HoursWorked)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
