@model MvcApplication1.Models.tblEmployee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tblEmployee</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfBirth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmployeeType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployeeType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AnnualSalary)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AnnualSalary)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HourlyPay)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HourlyPay)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HoursWorked)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HoursWorked)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
